body {
    font-family: sans-serif;
    color: black;
    background: SkyBlue;
    margin-top: 45px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
    max-width:800px;
    margin: 0 auto;
    background: SkyBlue;
    color:black;
    font-family:times new roman;
}
.backd{
    
    max-width:1600px;
    margin: 0 auto;
    background: White;
    color:black;
    font-family:times new roman;
}
